@{
    ViewData["Title"] = "Nosotros";
}
    <div class="container" style="padding-top:10px">
        <div style="background-color:black !important;color: whitesmoke !important; font:candara" class="jumbotron">
            <h1>DESDE HACE 5 AÑOS</h1>
            <blockquote style="color: whitesmoke !important; text-align:justify">
                <p>Somos una empresa dedicada al comercio de telefonía móvil celular, durante varios años hemos innovado la forma de cambiar su celular, recibiendo su teléfono usado, financiando una parte de su equipo y ahora ENTREGANDO su teléfono en la puerta de su casa y pagando cuando lo RECIBES.</p>
                <footer><strong>#TIENDATECNO</strong></footer>
            </blockquote>
        </div>
    </div>

