@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info" role="alert">
        <div class="container">
            <p class="navbar-text">
                Utilizamos cookies para garantizar la mejor experiencia y mejorar el rendimiento de nuestro sitio web.
                Para obtener más información, consulte Términos y Condiciones y Aceptar cookies. Al continuar su navegación, acepta el depósito de cookies.
            </p>
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <div class="navbar-right">
                <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Ver más</a>
                <button type="button" class="btn btn-danger navbar-btn" data-cookie-string="@cookieString">Aceptar</button>
            </div>
        </div>
        
    </div>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").setAttribute("hidden", "true");
            }, false);
        })();
    </script>
}